{
  "TOKEN": "ODgwNDY4NzAyMDAzMzUxNjAz.YSeuYA.JgmUUCHLtaV_jVC1bGR_bT0TT7o",
  "YOUTUBE_API_KEY": "AIzaSyBLZ3U0COIYVuC-wcAo_eYvKtMA2ctqXUQ",
  "SOUNDCLOUD_CLIENT_ID": "",
  "MAX_PLAYLIST_SIZE": 10,
  "PREFIX": "?",
  "PRUNING": false,
  "LOCALE": "en",
  "STAY_TIME": 30,
  "DEFAULT_VOLUME": 100
}
